<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Not Pizza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-color:#ff9900; padding: 20px; text-align: center">
    <div class="col-md-12 col-sm-4">
        <h1 style="text-align: center;">Pizza or Not Pizza<h1>
            <form action="predictImage" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Select image to upload:<h3>
                <input class="btn btn-primary" type="file" name="filePath" id="fileToUpload">
                <input class="btn btn-success" type="submit" value="Upload Image" name="submit">
              </form>
              <h4 style="text-align: center;">This one is "{{predictedlabel}}", Prediction is {{predi}}<h4>
              <img src="{{filePathName}}" alt="imageName" class="img-thumbnail img-fluid">  
    </div>
</body>
</html>